@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter", sans-serif;
}

.debug {
  border: 2px solid black;
}

.navbar {
  @apply absolute shadow-lg right-0 top-full w-1/2 flex-col py-3 px-5 text-center transition-all duration-500 bg-white md:flex md:flex-row md:static md:py-0 md:px-0 md:justify-end md:bg-opacity-0 md:shadow-none;
}

.navbar > li {
  @apply md:bg-transparent md:rounded-full md:mx-1;
}

.navbar > li:first-child {
  @apply md:ml-0;
}

.navbar > li:last-child {
  @apply md:mr-0;
}

.nav-link {
  @apply block font-medium py-2 duration-300 my-3 active:text-primary hover:text-primary md:my-0 md:px-2 md:text-sm;
}

.nav-scrooled {
  @apply shadow;
  backdrop-filter: blur(5px);
}

.hamburger-line {
  @apply block w-5 h-0.5 bg-dark my-1 transition duration-300;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.sosmed-icon {
  @apply flex p-3 border border-slate-300 rounded-full bg-secondary text-white transition-all duration-200 mx-1 hover:border-orange-400 hover:bg-secondaryMuda;
}

.portfolio-card {
  @apply w-full md:w-[47%] lg:w-[32%] border-2 border-slate-600 my-4 md:my-0;
}

.portfolio-img {
  @apply border-b border-b-slate-300 cursor-pointer;
}

.title-desc {
  @apply text-lg md:text-xl font-medium md:font-semibold mb-3;
}

.desc {
  @apply text-sm md:text-base text-dark leading-relaxed my-4;
}